@mixin mobile {
  @media  only screen and (min-width: #{$mobileWidth}) and (max-width: #{$tabletWidth - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media  only screen and (min-width: #{$tabletWidth}) and (max-width: #{$desktopWidth - 1px}) {
    @content;
  }
}
